@font-face {
  font-family: 'CoopBold';
  src: url('CoopBold.eot?#iefix') format('embedded-opentype'),  url('CoopBold.woff') format('woff'), url('CoopBold.ttf')  format('truetype'), url('CoopBold.svg#CoopBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaRounded-Black';
  src: url('HelveticaRounded-Black.eot?#iefix') format('embedded-opentype'),  url('HelveticaRounded-Black.otf')  format('opentype'),
	     url('HelveticaRounded-Black.woff') format('woff'), url('HelveticaRounded-Black.ttf')  format('truetype'), url('HelveticaRounded-Black.svg#HelveticaRounded-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}